@import '../../scss/variables.scss';

footer{
    background: $primary-color-rodape;
    width: 100%;

    .rodape{
        padding: 20px;
        text-align: center;
        margin: 0 auto;
    }

    p{
        color: $text-color-rodape;
    }
}